 @media (max-width: 1366px) {
.menu_main_wrap .logo .logo_shape:before {
margin-top:-160px;
}
.menu_main_wrap .logo_main {
max-height:42px;
}
.menu_main_wrap.logo_left .content_wrap .menu_main_nav_area {
margin-left:75px;
}
}

@media (max-width: 1024px) {
.menu_main_wrap.logo_left .content_wrap .menu_main_nav_area {margin-left:68px;}
.info {padding:30px}
.navbar-nav > li > a {font-size: 1.1em;}
.navbar-brand {max-width:107px;}
.navbar-header {margin-right:0;}

}


@media (max-width: 1050px) {
.footer-buttons .btn {margin-right:4px;}	
}

@media (max-width: 1279px) {
body:not(.menu_relayout) .top_panel_wrap.bg_type_image {
background-image:none!important;
}
}
@media (min-width: 1136px) and (max-width: 1279px) {
body {
font-size:14px;
}
}
@media (min-width: 960px) and (max-width: 1135px) {
body {
font-size:13px;
}
h1 {
font-size:3em;
}
h2 {
font-size:2.3077em;
}
h3 {
font-size:2.3077em;
}
h4 {
font-size:1.3846em;
}
h5 {
font-size:1.2308em;
}
h6 {
font-size:1em;
}
.menu_main_wrap .logo a, .menu_user_wrap {
font-size:0.8461em;
}
.menu_main_wrap .menu_main_nav>li {
font-size:0.9231em;
}
.menu_main_wrap .search_wrap {
margin-top:2.3125em;
margin-bottom:2.3125em;
}
.page_top_wrap .breadcrumbs {
font-size:0.8461em;
}
.page_top_wrap.page_top_title .breadcrumbs {
padding:3px 0 15px 0;
}
.isotope_filters a {
font-size:0.8461em;
}
.post_info {
font-size:0.8461em;
}
.post_info {
font-size:0.8461em;
}
.post_rating .reviews_star {
font-size:1em;
}
.post_item_courses .post_category {
font-size:1em;
margin:0 0 0.4em;
}
.post_item_courses .post_descr .post_price_period {
font-size:1em;
}
.post_item_courses .post_descr .post_price_value {
font-size:1.3846em;
}
.contacts_wrap .contacts_address {
font-size:1em;
}
.widget_area .post_item .post_info {
font-size:0.7692em;
}
.widget_area .widget_tag_cloud a {
font-size:0.8461em!important;
}
.widget_area .widget_calendar .weekday {
font-size:0.8461em;
}
.sc_testimonial_content {
font-size:1.25em;
}
.sc_testimonial_author {
font-size:1em;
}
}
@media (min-width: 800px) and (max-width: 959px) {
body {
font-size:13px;
}
h1 {
font-size:3em;
}
h2 {
font-size:2.3077em;
}
h3 {
font-size:2.3077em;
}
h4 {
font-size:1.3846em;
}
h5 {
font-size:1.2308em;
}
h6 {
font-size:1em;
}
.menu_main_wrap .logo a, .menu_user_wrap {
font-size:0.8461em;
}
.menu_main_wrap .menu_main_nav>li {
font-size:0.9231em;
}
.menu_main_wrap .search_wrap {
margin-top:2em;
}
.page_top_wrap .breadcrumbs {
font-size:0.8461em;
}
.page_top_wrap.page_top_title .breadcrumbs {
padding:3px 0 15px 0;
}
.isotope_filters a {
font-size:0.8461em;
}
.post_info {
font-size:0.8461em;
}
.post_info {
font-size:0.8461em;
}
.post_rating .reviews_star {
font-size:1em;
}
.post_item_courses .post_category {
font-size:1em;
margin:0 0 0.4em;
}
.post_item_courses .post_descr .post_price_period {
font-size:1em;
}
.post_item_courses .post_descr .post_price_value {
font-size:1.3846em;
}
.contacts_wrap .contacts_address {
font-size:1em;
}
.widget_area .post_item .post_info {
font-size:0.7692em;
}
.widget_area .widget_tag_cloud a {
font-size:0.8461em!important;
}
.widget_area .widget_calendar .weekday {
font-size:0.8461em;
}
.widget_area .reviews_block .reviews_summary .reviews_criteria {
font-size:0.7692em;
}
input[type="submit"], input[type="button"], button, .sc_button {
padding:0.75em;
}
.sc_testimonial_content {
font-size:1.25em;
}
.sc_testimonial_author {
font-size:1em;
}
.body_filled .widget_area.sidebar_style_white, .body_filled .widget_area.sidebar_style_light, .body_filled .widget_area.sidebar_style_dark, .body_filled.sidebar_right .widget_area.sidebar_style_white, .body_filled.sidebar_right .widget_area.sidebar_style_light, .body_filled.sidebar_right .widget_area.sidebar_style_dark, .body_filled.sidebar_left .widget_area.sidebar_style_white, .body_filled.sidebar_left .widget_area.sidebar_style_light, .body_filled.sidebar_left .widget_area.sidebar_style_dark {
border:none;
padding:0 0 0 0;
}
}
@media (min-width: 480px) and (max-width: 799px) {
h1 {
font-size:2.5em;
}
h2 {
font-size:2em;
}
h3 {
font-size:2em;
}
h4 {
font-size:1.3333em;
}
h5 {
font-size:1.1667em;
}
h6 {
font-size:1em;
}
.menu_main_wrap .logo a, .menu_user_wrap {
font-size:0.8333em;
}
.menu_main_wrap .menu_main_nav>li {
font-size:0.9167em;
}
.page_top_wrap .breadcrumbs {
font-size:0.8333em;
}
.isotope_filters a {
font-size:0.8333em;
}
.post_info {
font-size:0.8333em;
}
.post_info {
font-size:0.8333em;
}
.post_rating .reviews_star {
font-size:1em;
}
.post_item_courses .post_category {
font-size:1em;
margin:0 0 0.4em;
}
.post_item_courses .post_descr .post_price_period {
font-size:1em;
}
.post_item_courses .post_descr .post_price_value {
font-size:1.3333em;
}
.contacts_wrap .contacts_address {
font-size:1em;
}
.widget_area .post_item .post_info {
font-size:0.75em;
}
.widget_area .widget_tag_cloud a {
font-size:0.8333em!important;
}
.widget_area .widget_calendar .weekday {
font-size:0.8333em;
}
.widget_area .reviews_block .reviews_summary .reviews_criteria {
font-size:0.75em;
}
input[type="submit"], input[type="button"], button, .sc_button {}
.sc_testimonial_content {
font-size:1.25em;
}
.sc_testimonial_author {
font-size:1em;
}
.sc_tabs .sc_tabs_titles li {
font-size:1.25em;
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
}
}
@media (max-width: 479px) {
body {
font-size:12px;
}
h1 {
font-size:2.5em;
}
h2 {
font-size:2em;
}
h3 {
font-size:2em;
}
h4 {
font-size:1.3333em;
}
h5 {
font-size:1.1667em;
}
h6 {
font-size:1em;
}
.menu_main_wrap .logo a, .menu_user_wrap {
font-size:0.8333em;
}
.menu_main_wrap .menu_main_nav>li {
font-size:0.9167em;
}
.page_top_wrap .breadcrumbs {
font-size:0.8333em;
}
.isotope_filters a {
font-size:0.8333em;
}
.post_info {
font-size:0.8333em;
}
.post_info {
font-size:0.8333em;
}
.post_rating .reviews_star {
font-size:1em;
}
.post_item_courses .post_category {
font-size:1em;
margin:0 0 0.4em;
}
.post_item_courses .post_descr .post_price_period {
font-size:1em;
}
.post_item_courses .post_descr .post_price_value {
font-size:1.3333em;
}
.layout_single-courses .content .post_info:not(.post_info_bottom) {
font-size:1.25em;
}
.contacts_wrap .contacts_address {
font-size:1em;
}
.widget_area .post_item .post_info {
font-size:0.75em;
}
.widget_area .widget_tag_cloud a {
font-size:0.8333em!important;
}
.widget_area .widget_calendar .weekday {
font-size:0.8333em;
}
.widget_area .reviews_block .reviews_summary .reviews_criteria {
font-size:0.75em;
}
input[type="submit"], input[type="button"], button, .sc_button {
padding:0.7em 0.6em;
}
blockquote {
font-size:1.5em;
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits, .sc_countdown.sc_countdown_style_1 .sc_countdown_separator {
font-size:2em;
height:2em;
line-height:2em;
}
.sc_countdown.sc_countdown_style_1 .sc_countdown_digits {
width:2em;
}
.sc_testimonial_content {
font-size:1.25em;
}
.sc_testimonial_author {
font-size:1em;
}
.sc_tabs .sc_tabs_titles li {
font-size:1.25em;
}
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
}
}
@media (max-width: 959px) {
.sc_testimonials_grid.columns_2 .sc_testimonial_item_grid_wrapper .sc_testimonial_item {
padding-right:30px;
}
.body_filled .widget_area.sidebar_style_white, .body_filled .widget_area.sidebar_style_light, .body_filled .widget_area.sidebar_style_dark {
border-left:none;
padding-left:0;
}
}
@media (max-width: 799px) {
.menu_foot_wrapper .menu {
width:100%;
}
.menu_foot_wrapper .social {
width:100%;
margin-top:15px;
}
.without_menu .social {
width:100%;
margin-top:15px;
}
.without_menu .copyright_text {
width:100%;
}
.copyright_wrap .copyright_text {
width:100%;
}
.sc_testimonials_grid.columns_2 .sc_testimonial_item_grid_wrapper {
width:100%!important;
}
.sc_testimonials_grid.columns_2 .sc_testimonial_item_grid_wrapper .sc_testimonial_item {
padding-right:0;
}
.menu_user_wrap .menu_user_contact_area {
margin-bottom:0;
}

}
@media (max-width: 479px) {
.sc_testimonials .sc_testimonials_grid .sc_testimonial_avatar {
width:60px;
height:60px;
}
.sc_testimonials .sc_testimonials_grid .sc_testimonial_content_wrapper {
margin-left:80px;
}
}
